asgiref==3.9.1
Django==5.2.4
dj-database-url==2.3.0
django-postgres-copy==2.4.2
gunicorn==23.0.0
numpy==2.3.1
pandas==2.3.1
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.8.2
requests==2.32.3
tqdm==4.66.6
psutil==6.1.0
